.footer {
  display: flex;
  flex-direction: column;
  background-color: #32b41e;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.footer-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  padding: 32px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  max-width: 220px;
}

.footer-column a {
  color: white;
  text-decoration: none;
}

.footer-column h3 {
  margin: 0;
}

.address-spacing {
  margin-top: 16px;
}
