@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.recharts-responsive-container {
  margin-left: -24px;
}
.areachart {
  margin-left: -8px;
}

.map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.footer {
  height: 700px !important;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: inline-block;
  animation: scroll 15s linear infinite;
}

/* For the entire scrollbar */
pre::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height for horizontal scrollbar */
}

/* Track (the background of the scrollbar) */
pre::-webkit-scrollbar-track {
  background: #2d3748; /* Match the background color of the container */
  border-radius: 6px;
}

/* Handle (the draggable part of the scrollbar) */
pre::-webkit-scrollbar-thumb {
  background: #4a5568; /* Color of the scrollbar handle */
  border-radius: 6px;
  border: 1px solid #2d3748; /* Match the track color */
}

/* Handle on hover */
pre::-webkit-scrollbar-thumb:hover {
  background: #718096; /* Lighter color on hover */
}

/* Sidebar */
.docssidebar::-webkit-scrollbar {
  width: 8px;
}

.docssidebar::-webkit-scrollbar-thumb {
  background-color: #c1fdd7; /* Tailwind bg-green-500 */
  border-radius: 8px;
}

/* Content */
.docscontent::-webkit-scrollbar {
  width: 8px;
}

.docscontent::-webkit-scrollbar-thumb {
  background-color: #4cba8b; /* Tailwind bg-green-500 */
  border-radius: 8px;
}
.consult::-webkit-scrollbar {
  width: 8px;
}

.consult::-webkit-scrollbar-thumb {
  background-color: #299e7b; /* Tailwind bg-green-500 */
  border-radius: 8px;
}
.home::-webkit-scrollbar {
  width: 8px;
}

.home::-webkit-scrollbar-thumb {
  background-color: #299e7b; /* Tailwind bg-green-500 */
  border-radius: 8px;
}
.docs-content-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.docs-content-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4cba8b; /* Tailwind bg-green-500 */
  border-radius: 8px;
}
.docsidebar {
  scrollbar-width: none; /* For Firefox */
}

.docsidebar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.docscontainer{
  @apply docs-content-scrollbar ml-[80px] w-[calc(100vw-80px)] md:w-full md:mx-auto h-[calc(100vh-68px)] overflow-y-auto
}

.bg5{
  @apply bg-green-500
}
.bggrad{
  /* @apply bg-gradient-to-r from-cyan-600 to-lime-400 */
  @apply bg-gradient-to-r from-[#29AE93] to-[#4EC07A]
}
.bggrad2{
  @apply bg-gradient-to-r from-cyan-400 to-lime-800
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 1023px) {
  .sidebarr {
    left: 0 !important; /* Force the sidebar to be visible on mobile */
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}